* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 150px 0 0 100px;
  animation-name: box_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes box_movement {
  0% {
    margin: 150px 0 0 100px;
  }
  25% {
    margin: 150px 0 0 500px;
  }
  50% {
    margin: 400px 0 0 500px;
  }

  75% {
    margin: 400px 0 0 100px;
  }
  100% {
    margin: 150px 0 0 100px;
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-top: 50px;
  margin-left: 50px;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_spinner {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spinner 800ms linear infinite;
  animation-direction: reverse;
}

@keyframes spinner {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes inner_spinner {
  from {
    rotate: 0deg;
  }

  to {
  }
}
*/ .parent {
  width: 200px;
  height: 50px;
  display: flex;
  gap: 5px;
  margin: 150px 0 0 200px;
}

.bullet {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
  animation: hop 3s linear infinite;
}

@keyframes hop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

.second {
  animation-delay: 500ms;
}
.third {
  animation-delay: 1s;
}
.fourth {
  animation-delay: 1500ms;
}

.background {
    width: 100px;
    height: 300px;
    background-color: black;
    margin: 100px 0 0 100px;
  }
  
  .light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.6);
    animation: traffic_light 3s linear infinite;
  }
  
  .green {
    background-color: rgba(0, 128, 0, 0.6);
    animation-delay: 2s;
  }
  .yellow {
    background-color: rgba(255, 255, 0, 0.6);
    animation-delay: 1s;
  }
  
  @keyframes traffic_light {
    0%,
    40% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }
