* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 150px 0 0 100px;
  animation-name: box_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes box_movement {
  0% {
    margin: 150px 0 0 100px;
  }
  25% {
    margin: 150px 0 0 500px;
  }
  50% {
    margin: 400px 0 0 500px;
  }

  75% {
    margin: 400px 0 0 100px;
  }
  100% {
    margin: 150px 0 0 100px;
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-top: 50px;
  margin-left: 50px;
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_spinner {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}

@keyframes spinner {
  from {
  }

  to {
  }
}
